# Dependencies
node_modules
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Testing
/coverage

# Next.js
/.next/
/out/
/.build/

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Downloads e temporários
/downloads
/temp
/public/downloads

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs
*.log

# OS
Thumbs.db
